export(buildTakens)
exportClasses(corrDim)
exportClasses(dfa)
exportClasses(infDim)
exportClasses(maxLyapunov)
exportClasses(sampleEntropy)
exportClasses(spaceTimePlot)
export(cliffordMap)
export(contourLines)
export(corrDim)
export(corrMatrix)
export(dfa)
export(divergence)
export(divTime)
export(embeddingDims)
export(estimate)
export(estimateEmbeddingDim)
export(FFTsurrogate)
export(findAllNeighbours)
export(fixedMass)
export(fluctuationFunction)
export(gaussMap)
export(henon)
export(ikedaMap)
export(infDim)
export(logisticMap)
export(logRadius)
export(lorenz)
export(maxLyapunov)
export(neighbourSearch)
export(nlOrder)
export(nonlinearityTest)
export(nonLinearNoiseReduction)
export(nonLinearPrediction)
export(poincareMap)
export(radius)
export(recurrencePlot)
export(rossler)
export(rqa)
export(sampleEntropy)
export(sampleEntropyFunction)
export(sinaiMap)
export(spaceTimePlot)
export(surrogateTest)
export(timeLag)
export(timeReversibility)
export(windowSizes)
import(Matrix)
import(rgl)
import(TSA)
import(tseries)
S3method(contourLines,spaceTimePlot)
S3method(corrMatrix,corrDim)
S3method(divergence,maxLyapunov)
S3method(divTime,maxLyapunov)
S3method(embeddingDims,corrDim)
S3method(embeddingDims,infDim)
S3method(embeddingDims,maxLyapunov)
S3method(embeddingDims,sampleEntropy)
S3method(estimate,corrDim)
S3method(estimate,dfa)
S3method(estimate,infDim)
S3method(estimate,maxLyapunov)
S3method(estimate,sampleEntropy)
S3method(fixedMass,infDim)
S3method(fluctuationFunction,dfa)
S3method(nlOrder,corrDim)
S3method(nlOrder,sampleEntropy)
S3method(plot,corrDim)
S3method(plot,dfa)
S3method(plot,infDim)
S3method(plot,maxLyapunov)
S3method(plot,sampleEntropy)
S3method(plot,spaceTimePlot)
S3method(print,corrDim)
S3method(radius,corrDim)
S3method(radius,sampleEntropy)
S3method(sampleEntropyFunction,sampleEntropy)
S3method(windowSizes,dfa)
useDynLib(nonlinearTseries)
